.center {
  align-self: center;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  height: 300px;
  width: 600px;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.image {
  height: 100px;
  width: 100px;
}

.timestamp {
  font-weight: 200;
  font-size: small;
  float: right;
}